body{
  background-image: url("../img/gastronomia.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  justify-content: center;

}
.contenido{
  background-color: rgb(202,186,186,0.9);
  padding: 5px 5px 15px 15px;
}
#cabecera{
  background-color: rgb(202,186,186,0.9);
}
.contenedor_izq{
  background-color: rgb(255,255,255);
  width: 100%;
  text-align: center;
  height: 40em;
  padding: 10px 10px 10px 10px;
  margin:  5px 5px 2px 5px;
  transition: .button.small-only-expanded;
}
.animated-search-form[type=search] {
  width: 13rem;
  border: 1rem solid #red;
  border-radius: 0;
  background-image: url("../img/buscar.png");    /*url("//image.ibb.co/i7NbrQ/search_icon_15.png"); */
  background-size: 18px;
  background-position: 0.425rem 0.625rem;
  background-repeat: no-repeat;
  padding: 0.75rem 1.25rem 0.75rem 2rem;
  transition: width 0.4s ease-in-out;
}
.animated-search-form[type=search]:focus {
  width: 100%;
}
.centrar{
  position: relative;
  float: left;
  top: 2%;
  left: 2%;
  transform: translate(5%, 25%);
}
.contenedor_der{
  width: 100%;
  margin:  5px 5px 5px 5px;
}
.fechas{
  font-style: italic;
  font-size: 10px;
  font-family:serif;
}
.centrar2{
  width: 100%;
  text-align: left;
  padding: 15px 15px 15px 15px;
  margin:  5px 5px 2px 5px;
  margin: 5px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.imagen{
  width: 40%;
  height: auto;
}
.imagen_plato{
  width: 100%;
  height: 100%;
}
h4 {
  height: 1px;
  background-color: grey;
}
.mensajes{
  align-items: center;
  width: 100%;
  height: 4em;
  justify-content: center;
}
.iconoboton{
  width: 30px;
  height: 30px;
}
.bordes_mensajes{
  border: 2px solid red;
  border-radius: 15px;
  left: 10px;
}

 @media (max-width:900px) {
     .imagen_plato{
       width: 100%;
       height: auto;
     }
     .preparacion{
       width: 100%;
       text-align: left;
     }
     .mensajes{
       align-items: center;
       width: 100%;
       height: 4em;
     }
     .imagen{
       width: 30%;
       height: auto;
     }
  }

 @media (max-width:640px) {
     .imagen_plato{
       width: 100%;
       height: auto;
     }
     .preparacion{
       width: 100%;
     }
     .mensajes{
       align-items: center;
       width: 100%;
       height: 4em;
     }
     .imagen{
       width: 30%;
       height: auto%;
     }
  }
